nav {
  position: sticky;
  top: 0;
  /* border-bottom: 0.1rem solid var(--main-color); */
  background-color: var(--dark-color);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  z-index: 999;
}
.main_navbar {
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.logo_text {
  font-size: 3rem;
  font-family: "Rubik Burned", system-ui;
}

.nav_menu {
  align-items: center;
  gap: 2rem;
  transition: all 0.5s ease-in;
}

.nav_menu li {
  position: relative;
  padding-bottom: 0.5rem;
  transition: all ease 0.5s;
}
.nav_menu li a::after {
  background-color: white;
  bottom: 0;
  content: "";
  height: 0.2rem;
  position: absolute;
  right: 0;
  transition: all 0.5s ease-in;
  width: 0;
}

.nav_menu li a:hover::after {
  left: 0;
  width: 100%;
}

.nav_menu li a.active::after {
  background-color: var(--bg-color);
  bottom: 0;
  content: "";
  height: 0.2rem;
  position: absolute;
  right: 0;
  width: 0;
  left: 0;
  width: 100%;
}
.nav_menu li a:hover,
.nav_menu li a.active {
  color: var(--bg-color);
  transition: all 0.5s ease-in;
}

.manu_btn {
  display: none;
  color: var(--bg-color);
}

@media (max-width: 796px) {
  .manu_btn {
    display: block;
  }
  .nav_menu {
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: var(--helper-color);
    top: 6.6rem;
    left: -100%;
    padding-top: 2.5rem;
    flex-direction: column;
  }
  .nav_active {
    left: 0;
  }
}

@media (max-width: 470px) {
  .main_navbar {
    padding: 1.5rem 0.5rem;
  }
  .nav_menu {
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: var(--helper-color);
    top: 6.6rem;
    left: -100%;
    flex-direction: column;
  }
  .nav_active {
    width: 100%;
    left: 0;
  }
}
